@import url('https://fonts.googleapis.com/css?family=Muli');


.wrap {
    opacity: 0;
    transition: all .3s .3s ease;
}

.wrap_show {
    opacity: 1;
}

.content {
    background-color: #BFBFBF;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background: #dadada;
    box-shadow: 0 0 0 #cccccc,
        0 0 0 #ffffff,
        5px 5px 5px #cccccc inset,
        -5px -5px 5px #ffffff inset;
    animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s 1 alternate;
}

@keyframes anime {
    0% {
        width: 40px;
        height: 40px;
        background: #dadada;

    }

    25% {
        width: 40px;
        height: 40px;
        background: #A2A2A2;

    }

    50% {
        width: 40px;
        height: 700px;
        background: #dadada;

    }

    100% {
        width: 1200px;
        height: 700px;
        background: #A2A2A2;

    }
}


.logo{
    display: none;
    position: absolute;
    width: 10rem;
    height: 4rem;
    left: calc(50% - 50px);
    top: 50%;
    transform: translate(-50%, -50%);
}
.logo_show{
    display: block;
}
.logo_hidden{
    display: none;
}

.text {
    font-size: 62.5%;
    color: #00193D;
    font-size: 5rem;
    font-family: 'Muli', Helvetica, sans-serif;
    font-weight: 900;
    display: inline-block;
    position: absolute;
    bottom: 1rem;
    animation: text 500ms ease-in 1;
    transform: translatez(0);
}

.text-b {
    left: 0rem;
    transform: translate3d(0, 0, 0);
    animation: text-b 800ms ease-in 1;
}

.text-l {
    left: 4rem;
    animation-delay: 260ms;
}

.text-a {
    left: 6rem;
    animation-delay: 380ms;
}

.text-s {
    left: 10rem;
    animation-delay: 490ms;
}
.text-t {
    left: 14rem;
    animation-delay: 560ms;
}

.coast {
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    width: 4.2rem;
    height: 4.2rem;
    display: inline-block;
    animation: coast 1700ms linear 1;
    transform: translateZ(0);
}

.wave-rel-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 3rem;
    perspective-origin: 0%, 50%;
}

.wave {
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 2.1rem;
    background: radial-gradient(ellipse at center, rgba(116, 241, 252, 1) 0%, rgba(50, 230, 255, 1) 73%, rgba(21, 199, 250, 1) 100%);
    display: inline-block;
    animation: wave 1700ms linear 1;
    will-change: width;
    transform: translateZ(0) scale(0);
}

@keyframes text {
    0% {
        transform: translate3d(0, 0, 0);
    }

    30% {
        transform: translate3d(0, -5rem, 0);
    }

    45% {
        transform: translate3d(0, -5rem, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes text-b {
    0% {
        transform: translate3d(0, -5rem, 0);
    }

    38% {
        transform: translate3d(0, -5rem, 0);
    }

    69% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes coast {
    0% {
        transform: translate3d(0, 0, 0);
    }

    23% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(18rem, 0, 0);
    }

    100% {
        transform: translate3d(18rem, 0, 0);
    }
}

@keyframes wave {
    0% {
        transform: scale(0);
        width: 2.2rem;
    }

    10% {
        transform: scale(1);
    }

    23% {
        width: 2.5rem;
    }

    32% {
        width: 3.1rem;
    }

    42% {
        width: 5rem;
        transform:  scale(1, 1);
    }

    51% {
        width: 4rem;
        transform: scale(0.6, 0.2);
    }

    52% {
        transform:  scale(0);
    }

    100% {
        transform:  scale(0);
    }
}